<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>instagram</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/new_post.css">
    <link rel="shortcut icon" href="imgs/instagram.png">

</head>
<body>

<section id="container">


    <div th:replace="fragments.html :: header"></div>


    <div id="main_container">

        <div class="post_form_container">
            <form th:action="@{/new-post}" class="post_form" th:object="${newPostForm}" method="post">
                <div class="title">
                    NEW POST
                </div>

                <div class="preview">
                    <div class="upload">
                        <div class="post_btn">
                            <div class="plus_icon">
                                <span></span>
                                <span></span>
                            </div>
                            <p>포스트 이미지 추가</p>
                            <canvas id="imageCanvas" width="300" height="300"></canvas>
                            <!--<p><img id="img_id" src="#" style="width: 300px; height: 300px; object-fit: cover" alt="thumbnail"></p>-->

                            <!-- 이미지 URLData()를 전달하기 위한 수단일 뿐 -->
                            <textarea style="display: none" id="imageText" th:field="*{image}"></textarea>
                        </div>
                    </div>
                </div>

                <p>
                    <input type="file" name="photo" id="id_photo" required="required">
                </p>

                <p>
                    <textarea name="content" id="text_field" cols="50" rows="5" maxlength="140" placeholder="140자 까지 등록 가능합니다.
#태그명 을 통해서 검색 태그를 등록할 수 있습니다.
예시 : I # love # insta!"></textarea>
                </p>

                <input class="submit_btn" type="submit" value="저장">
            </form>

        </div>

    </div>


</section>


<script>
    const fileInput  = document.querySelector( "#id_photo" );
    const textArea = document.querySelector("#imageText");
    const button     = document.querySelector( ".input-file-trigger" );
    const the_return = document.querySelector(".file-return");

    // Show image
    fileInput.addEventListener('change', handleImage, false);
    const canvas = document.getElementById('imageCanvas');
    const ctx = canvas.getContext('2d');

    function handleImage(e){
        var reader = new FileReader();
        // 파일 읽기 동작 성공 시마다
        reader.onload = function(event){
            var img = new Image();
            // var imgWidth =
            // 이미지 로드된 후의 코드
            img.onload = function(){
                ctx.drawImage(img,0,0,300,300);
                textArea.value = canvas.toDataURL();
            };
            // 이미지 경로
            img.src = event.target.result;
            // img.width = img.width*0.5
            // canvas.height = img.height;
        };
        // 바이너리 파일 읽음
        reader.readAsDataURL(e.target.files[0]);
    }
</script>


</body>
</html>