<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>instagram</title>

    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/common.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="imgs/instagram.png">
</head>
<body>


<section id="container">


    <div id="main_container">

        <div class="form_container">

            <div class="form">


                <h1 class="sprite_insta_big_logo title"></h1>

                <form th:action="@{/login}" method="post">
                    <p class="login_user_name">
                        <input type="text" id="username" name="username" placeholder="사용자명 또는 이메일" style="background-color: lightgray">
                    </p>

                    <p class="login_user_password">
                        <input type="password" id="password" name="password" placeholder="비밀번호" style="background-color: lightgray">
                    </p>

                    <input type="submit" id="submit_btn" value="로그인" class="submit_btn">
                </form>

                <div style="text-align: center; margin-top: 20px">
                    <a href="#" style="color: gray">비밀번호를 잊으셨나요?</a>
                </div>

            </div>

            <div class="bottom_box">
                <div>
                    <span>계정이 없으신가요? </span><a href="/account/sign-up" style="color: deepskyblue">가입하기</a>
                </div>
            </div>


        </div>

    </div>


</section>


</body>
</html>